@import '~react-md/src/scss/react-md';

// Any variable overrides. The following just changes the default theme to use teal and purple.
$md-primary-color: $md-green-500;
$md-secondary-color: $md-light-green-100;
$md-light-theme: true;
